/*main*/
* {
    margin: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.755);
    color: #77f9f2;
}

.navbar-toggler{
    background-color: aliceblue;
    color: aliceblue;
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #77f9f3;
}
.nav-link{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #77f9f3;
 
}
.nav-item{
    padding-left: 20px;
    padding-right: 10px;
}




/*main*/
.main {
    text-align: center;
    background-color:rgb(66, 65, 65);
    height: 100vh;
}

#main-img {
    align-items: center;
    padding-top: 10%;
}

.main h1 {
    padding-top: 30%;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 70px;
    text-decoration: underline;

}

.main p {
    font-size: 20px;
    padding-top: 40px;
    font-family: 'Inter Tight', sans-serif;
    color:white;
    padding-right: 100px;
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {
    #main-img {
        width: -webkit-fill-available;
        padding-top: 20px;

    }

    .main h1 {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 44px;
        padding-top: 20px;
    }

    .main p {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 25px;
    }
    .main{
        height: auto;
    }

}

/*main-sub*/
.main-sub{
    background-color: #bebebe;
   height: 100vh;
    color: black;
 
    
}
.main-sub h2{
    text-align: center;
    color:#2e382f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;

}

.main-sub{
    padding-left: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    .main-sub {
      height: auto;

    }
  }

.main-sub ul li{

    list-style-position: inside;
    padding-top: 20px;

}

/*time-table*/
#time-table{
    position: relative;
    background-color: #e5e5e5;
 
}
#time-table h2{
    text-align: center;
    color:#2e382f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}


#img-timetable{
    display: flex;
    justify-content: center;
    

}
.time-table-img{
    margin-bottom: 10px;
    max-width: 80%;
   -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);

}

/*download*/
.download{
    
    background-color:#e5e5e5;  
    color: black;
    text-align: center;
}

.subject-img{
   
    border-radius: 25%;
}


.download h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
  
    font-family: 'Oswald', sans-serif;

}

.download h1{
    padding-top: 20px;
    margin-bottom: 10px;
    color:#2e382f;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    }



/*download-sub*/
.download-sub{
    background-color:#e5e5e5cb;  
    color: black;
    text-align: center; 
}



.download-sub a{
    background-color: #77f9f3;
}

.download-sub h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    
    font-family: 'Oswald', sans-serif;

}

.download-sub h1{
padding-top: 20px;
    margin-bottom: 40px;
    color:#2e382f;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download-sub a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download-sub img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);

}


/*download-lab*/
.download-lab{
    background-color:#e5e5e5e1;  
    color: black;
    text-align: center; 
}




.download-lab a{
    background-color: #77f9f3;
}

.download-lab h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    font-family: 'Oswald', sans-serif;

}

.download-lab h1{
padding-top: 10px;
    margin-bottom: 10px;
    color:#2e382f;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download-lab a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download-lab img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);

}

/*footer*/
.footer-content{
    background-color: rgba(199, 199, 199, 0.694);
    color:rgb(0, 0, 0);
    align-items: center;
    text-align: center;
}

.footer-content h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

}   

.footer-content p {
    
    padding-bottom: 20px;
}